*{
    margin: 0px;
    padding: 0px;
}

.JiraBoard{
display:flex;
justify-content: space-around;
padding: 20px;
}

.column{
    border: 1px solid black;
    min-height: 400px;
    width: 180px;
    text-align: center;
    padding:5px;
}

.card{
    background-color: black;
    color: wheat;
    border: 1px solid red;
}